

  .border {
    display: flex;
    width: 200px;
    height: 300px;
    flex-direction: column;
    margin: 0 auto;
    border: 5px solid black;
  }

  .button {
    background-color: lightgrey;
    border: 1px solid red;
    flex: 1 1;
  }

  .row {
    display: flex;
    flex: 1 1;
  }